<div class='col-sm-4 col-md-4'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3>	
                MENU
            </h3>
        </div>
        <div class='panel-body'>
            <div class='list-group'>
                <a href='/' class='list-group-item'>HOME</a>
                <a href='/admin' class='list-group-item'>管理頁面</a>
                <a href='#' class='list-group-item'>預備連結</a>
                <a href='upload/' class='list-group-item'>簽到頁面</a>
            </div>                
        </div>

        <a href="http://guestscounter.com"><img src="http://guestscounter.com/count.php?c_style=26&id=1626663560" border=0 alt="free hit counter"></a><br><a href="http://guestscounter.com" style="font-size:9px;">free hit counter</a><br>
        <script id="_waurg4">var _wau = _wau || []; _wau.push(["map", "3mg7nl9zh5", "rg4", "250", "125", "night", "cross-pink"]);</script><script async src="//waust.at/m.js"></script>
        <script id="_waufwe">var _wau = _wau || []; _wau.push(["classic", "468y1ph1wd", "fwe"]);</script><script async src="//waust.at/c.js"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=100&height=20&appId" width="100" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2F888papa&layout=button_count&size=small&width=84&height=20&appId" width="84" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
